<div class="trader-account-submission-text-container"
     style="display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            background-color: black;">
    <h1 class="trader-submission-text"
        style="color: white;
               font-family: Arial;
               font-size: 25px;"
                >Your account registration has been submitted to admin for approval.</h1>
</div>
