<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
      .approval {
        background-color: gold;
        display: flex;
        justify-content: center;
        align-items: center;
      }


      .admin-container {
        display: flex;
        flex-direction: column;
        font-family: Arial;
        padding: 20px;
      }

      .trader-information {
        display: flex;
        flex-direction: column;
        background-color: black;
        color: white;
        padding: 30px;
      }

      .individual-info-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid white;
        font-size: 10px;
      }

      .approval-button-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
      }

      .trader-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: black;
      }

      .congratulations-text {
        font-size: 25px;
        font-family: Arial;
        color: white;
      }

      .last-text-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }

      .trader-account-submission-text-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: black;
      }

      .trader-submission-text {
        color: white;
        font-family: Arial;
        font-size: 25px;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
